@model Laba45Tsi.Managers.filmManager.filmCreatOrUpdateRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddClient</title>
</head>
<body>
    @using (Html.BeginForm("addByProducer", "film", FormMethod.Post))
    {
        <label>Режисер : @ViewBag.producer.name</label>
        <input type="hidden" value="@ViewBag.producer.id" name="producerId">
        <input type="hidden" value="@ViewBag.producer.name" name="producerName"><br /><br />

        <label>Название фильма : </label>
        <input type="text" id="filmName" name="filmName" /><br /><br />
        <label>Жанр : </label>
        <input type="text" id="ganreName" name="ganreName">

        <input type="submit" value="Содать">
    }
<a href="/film/showFilmByProducer/@ViewBag.producer.id">Вернуться</a>
</body>
</html>